body {
    /* padding: 10px; */
    background-color: #f4f4f5 !important;
}


/* Pre Loader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    z-index: 9999;
}


/* Add styles for the progress bar */

#filler {
    width: 0;
    height: 100%;
    background-color: #3498db;
    transition: width 0.5s ease;
}

.preloader-content {
    display: none;
}

.inner-preloader {
    transition: all .5s;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 5px;
    z-index: 9999;
}

.top-bar {
    /* width: calc(100% - 20px); */
    width: calc(100%);
    position: fixed;
    z-index: 100;
    left: 0 !important;
    background-color: #fffefe;
}

.select-table-button {
    background-color: #fc8019;
    color: #fff;
}

.btn-icon {
    margin-right: 5px;
}

.refresh-button {
    background-color: #f4f4f5;
    color: #fc8019;
}

#sidebar {
    margin-top: 60px;
    background-color: #fffefe;
}

.list-group-item {
    padding: 15px;
    color: #79868f;
}

#page-content-wrapper {
    padding-top: 5px;
    margin-top: 55px;
    /* padding-left: 10px; */
    width: 100%;
    max-width: 100%;
}

#search-key {
    outline: none !important;
    box-shadow: none !important;
}

.card {
    border: none;
}

.category-card {
    width: 100%;
}

.product-card {
    cursor: pointer;
}

.product-card:hover {
    transform: scale(0.96);
}

.product-card .card-image {
    width: 100%;
    border-radius: 20px 20px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.product-card .card-title {
    font-size: 14px;
}

.product-card .card-price {
    font-size: 18px;
    font-weight: 700 !important;
}

.product-title {
    font-size: 14px;
    font-weight: 600 !important;
}

.product-qty {
    font-size: 14px;
    font-weight: 600 !important;
}

.product-price {
    font-size: 18px;
    font-weight: 600 !important;
}

.item-container {
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.item-area {
    height: 22vh;
    max-height: 30vh;
    overflow-y: auto;
}

.payable-amount,
.payable-value {
    font-size: 20px;
}

.payable-value {
    font-weight: 600;
}


/* Scroll Bar */

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* CSS for the black overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
    z-index: 999;
    display: none;
}

.overlay-content {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #000000;
    transform: translate(-50%, -50%);
}


/* Loading popup styles */

.loading-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.loading-popup-content {
    max-height: 80vh;
    max-width: 60%;
    overflow-y: auto;
    background-color: #fff;
    padding: 25px;
    min-width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: popupFade 0.3s ease-in-out;
}

.pos-content {
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .loading-popup-content {
        z-index: 9999;
        height: 100% !important;
        width: 100%;
        top: 0px;
        max-height: 100vh;
        max-width: 100%;
        border-radius: 0px;
        position: fixed !important;
    }

    .pos-content {
        margin-bottom: 100px;
    }

    #page-content-wrapper {
        padding-top: 20px;
    }
}


/* Keyframes for the popup animation */

@keyframes popupFade {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.x-button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/* Qty */

.calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.button {
    width: 100%;
    padding: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #eee;
}

.button:active {
    transform: scale(0.95);
}

.input-box {
    width: 100%;
    margin: 0 auto;
}

.qty-input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
}

.clear-button {
    background-color: #926d65;
    color: white;
}

.clear-button:hover {
    background-color: #2c1f1c;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

@media (max-width: 600px) {
    .popup {
        width: 90% !important;
    }
}

.clickable {
    cursor: pointer;
}

.table-card {
    background-color: #f4f4f5;
    padding: 10px;
    border-radius: 10px;
}

.table-card:hover {
    background-color: #333;
    color: #fff;
}

.bold-text-600 {
    font-weight: 600;
}

.service-charge-button {
    background-color: #fff;
}

.service-charge-button:hover {
    background-color: #a79898;
    color: #fff;
}

.active-charge-button {
    background-color: #000;
    color: #fff;
}

.invoice-card:hover {
    background-color: #331c1c !important;
    color: #fff;
}

.customer-card {
    margin-bottom: 10px;
}

.customer-card:hover {
    background-color: #000;
    color: #fff;
}

input,
select {
    box-shadow: none !important;
}

.customer-container input {
    height: 55px;
    font-size: 20px;
}

.customer-container select {
    height: 55px;
    font-size: 20px;
}